body {
    background: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0, rgb(52,56,77)),
        color-stop(1, rgb(0,0,0))
    );
    background: -moz-linear-gradient(
        center bottom,
        rgb(92,92,92) 0%,
        rgb(0,0,0) 100%
    );
    color:#fef;
}

#title {
    position:absolute;
    top:0;
    left:0;
    z-index:100;
    width:100%;
    text-align:center;
    font-size:5em;
}

#container {
    position:relative;
    overflow:hidden;
    width:100%;
    height:100%;
}

.view {
    position:absolute;
    font-size:14em;
}

.view .single-value {
    margin:1em 1.2em;
    position:relative;
}

.view .single-value .current {
    margin-left:auto;
    margin-right:auto;    
    padding:0.2em 0.4em 0.2em 0.4em;    
    font-weight:bold;
    text-align:center;
    color:#fff;
    border: 0.06em solid #fff;
    -webkit-border-radius:0.1em;
    text-shadow:rgba(1,1,1,0.8) 0px 0px 10px;
    -webkit-box-shadow: inset 0 0 10px rgba(1,1,1,0.8);
}

.view .single-value .diff {
    position: absolute;
    right:-0.3em;
    top:-0.3em;
    width:0.8em;
    height:0.8em;
    -webkit-border-radius:0.5em;
    -webkit-box-shadow: 0 0 10px rgba(1,1,1,0.8);
    background-color:#121;
    padding:0;
    margin:0;
    text-align:center;
    border:10px solid #fff;
}

.view .single-value .change-info {
    text-align:center;
}

.view .single-value .changes {
    text-align:center;
    font-size:0.3em;
}

.view .single-value .diff span{
    font-size:0.4em;
    vertical-align:middle;
}

.view .single-value .back-ok {
    background-color:green;
    background:-webkit-gradient(linear,left bottom,left top,color-stop(0, rgb(0,136,0)),color-stop(1, rgb(0,204,0)));
    background:-moz-linear-gradient(
        center bottom,
        rgb(0,136,0) 0%,
        rgb(0,204,0) 100%
    );
}

.view .text-ok {
    /*
    color:-webkit-gradient(linear,left bottom,left top,color-stop(0, rgb(0,136,0)),color-stop(1, rgb(0,204,0)));
    */
    color:rgb(0,204,0);
    text-shadow:rgba(0,204,0,0.8) 0px 0px 10px;
}

.view .text-fail {
    /*
    color:-webkit-gradient(linear,left bottom,left top,color-stop(0, rgb(136,0,0)),color-stop(1, rgb(204,0,0)));
    */
    color:rgb(204,0,0);
    text-shadow:rgba(204,0,0,0.8) 0px 0px 10px;
}

.view .single-value .back-fail {
    background-color:red;
    background:-webkit-gradient(linear,left bottom,left top,color-stop(0, rgb(136,0,0)),color-stop(1, rgb(204,0,0)));
    background:-moz-linear-gradient(
        center bottom,
        rgb(136,0,0) 0%,
        rgb(204,0,0) 100%
    );
}

.view .table-value {
    font-size:0.3em;
    padding: 1.4em 0.2em 0 0.2em;
}

.view .table-value td {
    padding: 0.2em;
}

.view .table-value td.value {
    text-align:right;
}

.navigation {
    border:4px solid #4a4a4a;
    background-color:#fff;
    color:#222;
    margin-left:auto;
    margin-right:auto;
    width:400px;
    margin-top:100px;
    -webkit-border-radius:15px;
    padding:8px;
    -webkit-box-shadow: inset 0 0 10px rgba(0,0,0,0.8);
}

.navigation table {
    width:100%;
}

.navigation td, .navigation th{
    padding:6px;
    color:#222;
}

.navigation tr:nth-child(2n+1) {
    background-color:#fffff0;
}

.navigation tr:nth-child(2n) {
    background-color:#fff8dc;
}

.navigation tr:hover {
    background-color:#87cefa;
}
